---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
const base = import.meta.env.BASE_URL;
---

<BaseLayout title="ポートフォリオ">
  <section id="top" class="hero">
    <div class="hero-inner">
      <div class='hero-image'>
      <img src={`${base}images/hero.png`} alt='Hero image' />
      </div>

      <div class='hero-text'>
        <h1 class="hero-title">ねぎ's<br />ポートフォリオサイトへ<br />ようこそ!</h1>
        <p class="hero-subtitle"> Live2D / ゲーム / 表現技術</p>
      </div>
    </div>
  </section>

  <section id="about" class="section about">
    <h2 class="section-title">About</h2>
    <img src={`${base}images/icon.jpg`} class="about-icon" alt="icon" />
    <p class="about-text">
      はじめまして、ねぎと申します。私はLive2Dを中心に、ゲーム開発や表現技術に情熱を注いでいます。
      このポートフォリオサイトでは、私の作品やプロジェクトをご紹介しています。ぜひご覧ください。
    </p>
  </section>



  <section id="works" class="section works">
    <h2 class="section-title">Works</h2>

      <ul>
        {posts.map((post) => {
          const slug = post.id.replace(/\.md$/, '');
          return (
            <li>
              <a href={`${base}posts/${slug}`}>{post.data.title}</a>
            </li>
          );
        })}
      </ul>
    </h2>  
  </section>
</BaseLayout>

<style>
  .hero {
    width: 100%;
    margin-bottom: 0;
    overflow: hidden; 
  }

  /* hero-image と hero-text を左右に並べる */
  .hero-inner {
    width: 100%;
    display: flex;
    align-items: stretch;
    min-height: 70vh;
  }

  .hero-text {
    flex: 1;
    padding: 4rem;
    display: flex;
    flex-direction: column; /* hero-text と p を並べる方向 */
    justify-content: center; 
    /* gap: 1.5rem; h1 と p の間隔 */
  }

  .hero-image {
    flex: 1;
    display: flex;
    align-items: flex-end; /* ← 下に寄せる */
  }

  .hero-image img {
    width: 95%;
    display: block;
  }

  .hero-text h1 {
    font-size: 4.5rem;
    line-height: 1.2;
    margin: 8rem 0 1rem;
  }

  .hero-text p {
    font-size: 1.25rem;
    opacity: 0.8;
  }

  .about {
    margin-top: 0;
    background-color: #5ad52a;
  }

  .about-title{ 
    text-align: center;
    color: white;
  }

  .about-icon {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
</style>

